<%- include('../includes/header'); %>

<div class="container">
    <h1>All Post</h1>
    <a href="/category/create">
      <button class="btn btn-outline-primary me-2">
        +Add Category
      </button>
    </a>

    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% categories.forEach(category => { %>
          <tr>
            <td><%= category.id %></td>
            <td><%= category.name %></td>
            <td>
              <a href="/category/<%= category.id %>/edit">
                <button class="btn btn-primary">
                  Edit
                </button>
              </a>
              <button onclick="hapus(<%= category.id %>)" class="btn btn-danger">
                Delete
              </button>
              <!-- Sweet alert -->
              <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
              <script type="text/javascript">
                function hapus(id) {
                  console.log(id)
                  swal({
                      title: "Are you sure?",
                      text: "Once deleted, you will not be able to recover this data!",
                      icon: "warning",
                      buttons: true,
                      dangerMode: true,
                    })
                    .then((willDelete) => {
                      if (willDelete) {
                        window.location.href = "/category/"+id+"/delete/";
                      } 
                    });
                }
              </script>
              </a>
            </td>
          </tr>
          <% }); %>
      </tbody>
    </table>
</div>

<%- include('../includes/footer'); %>